:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fuente-primera: 'Quicksand', sans-serif;
  --fuente-segunda: 'Archivo Black', sans-serif;
  --fuente-tercera: 'Concert One', cursive;
  --fuente-cuarta: 'Black Han Sans', sans-serif;
  --fuente-roboto: 'Roboto', sans-serif;
  --fuente-raleway: 'Raleway', sans-serif;
  --fuente-montserrat: 'Montserrat', sans-serif;
  --color-precio: #822400;
  --color-etiqueta-negra: #000;
  --color-descripcion: #ffd1a7;
  --bg-color-main: 'asd';
}

html{
  font-size: 16px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: #fff;
  background-color: #e06007;
  font-family: var(--fuente-cuarta);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 2rem 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p{
  margin: 0;
  font-family: var(--fuente-montserrat);
  font-weight: 400;
}

.producto_descripcion{
  color: var(--color-descripcion);
  text-shadow: none;
  font-family: sans-serif;
  font-family: var(--fuente-montserrat);
  font-size: 0.875rem;
  flex-basis: 100%;
  text-align: left;
}

.incluyen_papas{
  width: 0;
  width: 180px;
  height: 26px;
  background-color: #000;
  margin: 0 auto .5rem;
  font-family: sans-serif;
  font-family: var(--fuente-montserrat);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  box-shadow: 0 12px 10px -10px #000 !important;
}

.triangulo-primero{
  top: 0;
  left: 0;
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 1rem solid #e06007;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent; 
}

.triangulo-segundo{
  top: 0;
  right: 0;
  z-index: 11;
  width: 0;
  height: 0;
  border-right: 1rem solid #e06007;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent; 
}

article small{
  color: var(--color-precio);
  font-weight: 600;
  font-family: var(--fuente-montserrat);
}

.spinner-grow{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}